@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
body {
  font-family: Poppins;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:root {
  --red-color: hsl(0, 78%, 62%);
  --cyan-color: hsl(180, 62%, 55%);
  --orange-color: hsl(34, 97%, 64%);
  --blue-color: hsl(212, 86%, 64%);
  --very-dark-blue-color: hsl(234, 12%, 34%);
  --grayish-blue-color: hsl(229, 6%, 66%);
  --very-light-gray-color: hsl(0, 0%, 98%);
  --white-color: hsl(0, 0%, 100%);
}

.four-card__section {
  padding: 0 2rem;
  padding-bottom: 5rem;
}
.four-card__header {
  margin-top: 5rem;
  text-align: center;
  font-weight: 200;
  font-size: 2.5rem;
  line-height: 1.5;
  color: var(--very-dark-blue-color);
}
@media screen and (max-width: 1025px) {
  .four-card__header {
    font-size: 1.5rem;
  }
}
.four-card__header-accent {
  font-weight: 600;
}
.four-card__general-description {
  margin: auto;
  box-sizing: border-box;
  display: block;
  text-align: center;
  max-width: 35rem;
  line-height: 1.5;
  color: var(--grayish-blue-color);
  margin-top: 1rem;
}
@media screen and (max-width: 376px) {
  .four-card__general-description {
    width: 100%;
  }
}
.four-card__benefits {
  max-width: 80rem;
  margin: auto;
  margin-top: 4.5rem;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 3.5rem;
}
.four-card__benefits_card {
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2.6rem 2.3rem;
  width: 100%;
  min-height: 18rem;
  box-shadow: 0px 7px 30px -10px var(--grayish-blue-color);
  background-color: var(--white-color);
}
.four-card__benefits_card:nth-child(1)::after {
  border-top: 10px solid var(--cyan-color);
}
.four-card__benefits_card:nth-child(2)::after {
  border-top: 10px solid var(--red-color);
}
.four-card__benefits_card:nth-child(3)::after {
  border-top: 10px solid var(--orange-color);
}
.four-card__benefits_card:nth-child(4)::after {
  border-top: 10px solid var(--blue-color);
}
.four-card__benefits_card::after {
  content: "";
  border-top-width: 10px;
  display: block;
  position: absolute;
  top: -4px;
  z-index: -1;
  left: 0.2rem;
  right: 0.2rem;
  border-radius: 100px;
}
.four-card__benefits_card:first-child {
  grid-row: 1/3;
}
.four-card__benefits_card:last-child {
  grid-row: 1/3;
}
.four-card__benefits_header {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--very-dark-blue-color);
}
@media screen and (max-width: 1025px) {
  .four-card__benefits_header {
    font-size: 1.4rem;
  }
}
.four-card__benefits_description {
  margin-top: 1.3rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--grayish-blue-color);
  line-height: 1.6;
}
@media screen and (max-width: 1025px) {
  .four-card__benefits_description {
    font-size: 0.8rem;
    line-height: 1.8;
    margin-top: 0.7rem;
  }
}
.four-card__benefits_image {
  float: right;
  margin-top: 3rem;
}
@media screen and (max-width: 1025px) {
  .four-card__benefits_image {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 1025px) {
  .four-card__benefits {
    gap: 1.5rem;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 3.5rem;
  }
}
@media screen and (max-width: 550px) {
  .four-card__benefits {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .four-card__benefits_card {
    min-height: 10rem;
    padding: 2rem;
  }
}/*# sourceMappingURL=style.css.map */